@{
    ViewData["Title"] = "Strona Główna";
}

<div class="text-center">
    <h1 class="display-4">Witaj w wypożyczalni domków!</h1>
    <h3>Zachęcamy do zapoznania się z naszą ofertą!</h3>
    
</div>
