@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Rejestracja";
}

<div class="col-6">
    <h1 class="text-info">Potwierdzenie zapomnianego hasła</h1>
    <p>
        Sprawdź swojego emaila, aby zresetować hasło.
    </p>
</div>

