@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Rejestracja";
}

<div class="col-6">
    <h1 class="text-info">Potwierdź rejestracje</h1>
    <hr />

    @{
        if (@Model.DisplayConfirmAccountLink)
        {
            <p>
                <a id="confirm-link" href="@Model.EmailConfirmationUrl">Kliknij tutaj, aby potwierdzić swoje konto</a>
            </p>
        }
        else
        {
            <p>
                Please check your email to confirm your account.
            </p>
        }
    }
</div>
